@model Grosu_Andrada_ClinicAppointments.Models.Payment

@{
    ViewData["Title"] = "Creează plată";
}

<h1>Creează plată</h1>

<h4>Payment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <!-- Programare -->
            <div class="form-group mb-3">
                <label asp-for="AppointmentID" class="control-label">Programare</label>
                <select asp-for="AppointmentID" class="form-control" asp-items="ViewBag.AppointmentID">
                    <option value="">Selectează programarea...</option>
                </select>
                <span asp-validation-for="AppointmentID" class="text-danger"></span>
            </div>

            <!-- Data plății -->
            <div class="form-group mb-3">
                <label asp-for="PaymentDate" class="control-label">Data plății</label>
                <input asp-for="PaymentDate" class="form-control" type="datetime-local" />
                <span asp-validation-for="PaymentDate" class="text-danger"></span>
            </div>

            <!-- Metoda de plată -->
            <div class="form-group mb-3">
                <label asp-for="PaymentMethod" class="control-label">Metodă de plată</label>
                <select asp-for="PaymentMethod" class="form-control">
                    <option value="">Selectează metoda...</option>
                    <option>Cash la clinică</option>
                    <option>Card la clinică</option>
                    <option>Online acum</option>
                </select>
                <span asp-validation-for="PaymentMethod" class="text-danger"></span>
            </div>

          

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
