@model Grosu_Andrada_ClinicAppointments.Models.Appointment

@{
    ViewData["Title"] = "Detalii programare";
}

<h1>Detalii programare</h1>
<hr />

<dl class="row">
    <dt class="col-sm-2">Pacient</dt>
    <dd class="col-sm-10">
        @(Model.Patient != null ? Model.Patient.FirstName + " " + Model.Patient.LastName : "")
    </dd>

    <dt class="col-sm-2">Doctor</dt>
    <dd class="col-sm-10">
        @(Model.Doctor != null ? Model.Doctor.FirstName + " " + Model.Doctor.LastName : "")
    </dd>

    <dt class="col-sm-2">Data și ora</dt>
    <dd class="col-sm-10">
        @Model.AppointmentDate.ToString("dd.MM.yyyy HH:mm")
    </dd>
</dl>

<div>
    <a asp-action="Edit" asp-route-id="@Model.ID" class="btn btn-primary">Editează</a>
    <a asp-action="Index" class="btn btn-secondary ms-2">Înapoi la listă</a>
</div>
